html, body {
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url('../img/bk.jpg');
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    position: relative;
    color: black;
}

.top-box {
    position: absolute;
    top: 9%;
    left: 40%;
    width: 21%;
    height: 27%;
}

.top-box .festival-top, .festival-bottom {
    color: white;
    width: 100%;
    font-size: 140px;
    text-align: center;
}

.top-box .lunar {
    color: white;
    text-align: center;
    font-size: 30px;
}

.blessing-box {
    position: absolute;
    top: 50%;
    left: 20%;
    width: 62%;
    height: 10%;
    color: white;
    font-size: 50px;
}

.music-box {
    position: absolute;
    top: 70%;
    left: 20%;
    width: 62%;
    height: 10%;
    z-index: 100000;
}

.music-box .choose {
    color: white;
    font-size: 50px;
    text-align: center;
    background-color: #28a0f5;
    border: 1px solid #28a0f5;
    border-radius: 10px;
    line-height: 90px;
}

.copyright-box {
    position: absolute;
    top: 90%;
    left: 20%;
    width: 68%;
    height: 10%;
    color: white;
    font-size: 50px;
    text-align: right;
}
.festival-context {
    text-align: center;
}
.context {
    position: absolute;
    display: none;
    top: 20%;
    left: 25%;
    width: 60%;
    color: white;
    font-size: 50px;
    line-height: 100px;
    letter-spacing: 20px;
    font-weight: bold;
}

@keyframes masked-animation {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -100%, 0;
    }
}